<div id="singleCardView" 
     data-role="view" data-style="inset" 
     data-title="Card" data-show="singleCardShow" data-init="singleCardInit" 
     data-model="singleCardViewModel">
    <header data-role="header" data-id="jitterz-default-header">
        <div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
            <a id="editCardButton" data-role="button" data-align="right" data-rel="actionsheet" href="#singleCardActions">Edit</a>
        </div>
    </header>
    <div>
        <div id="cardFront" data-bind="attr: {class: cardStatus}">
            <div class="card-icon">
                <div class="j-icon main-badge"></div>
            </div>
            <div class="card-bonus">
                <span data-bind="text: cardAmount"></span>
                <div>
                    <span>as of</span>
                    <span data-bind="text: currentDate"></span>
                </div>
            </div>
            <div class="card-line">
                <span data-bind="text: cardId"></span>
            </div>
        </div>
        <div id="cardBack" data-bind="attr: {class: cardStatus}">
            <img id="barcodeImage" data-bind="attr: {src:barcodeUrl}" alt="Shop Card Id"/>
        </div>
        <ul data-role="actionsheet" class="singleCardActionsList" id="singleCardActions" data-popup='{"direction": "left"}'>
            <li>
                <a href="#" data-role="button" data-bind="events: { click : deleteCard }" class="singleCardDeleteButton">Delete</a>
            </li>
        </ul>
    </div>
</div>