
Sample/EverliveSDK Sample.xcodeproj/project.xcworkspace/xcuserdata/*
Sample/EverliveSDK Sample.xcodeproj/project.xcworkspace/xcuserdata/ppavlov.xcuserdatad/UserInterfaceState.xcuserstate

Sample/EverliveSDK Sample.xcodeproj/xcuserdata/ppavlov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Sample/EverliveSDK Sample.xcodeproj/xcuserdata/ppavlov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
