*/bin
*/obj

*.js
*.dat
*.suo

!*/tns_modules/*.*
!bootstrap.js
!everlive.js

/lib/
/.metadata/

/platforms/android/*
!platforms/android/AndroidManifest.xml

platforms/ios/*
!platforms/ios/Sample-TelerikNext
platforms/ios/Sample-TelerikNext/*
!platforms/ios/Sample-TelerikNext/Images.xcassets
!platforms/ios/Sample-TelerikNext/Sample-TelerikNext-Info.plist